<div id="top"></div>
{{!-- <a id="top-menu" href="#">&#9776;</a> --}}

<header id="identity">
  <div class="wrapper">
    <div class="modal">
      <p class="avatar">
        <img class="avatar" src="/avatar.png" alt="Evan Sims" />
      </p>

      <h1>Hi there, I’m Evan and I really love <br class="show-for-medium-up" />building things that make a difference.</h1>
      <p>I'm a full stack developer and product designer from Champaign, Illinois. I’m the co-founder of <a href="http://everplum.com">EverPlum</a>, where I get to tinker on all sorts of cool stuff. I really &#128525;&nbsp; technology, video games and photography.</p>

      <ul class="button-group">
        <li><a href="https://twitter.com/evansims" class="button twitter" rel="me" target="_blank"><i class="fa fa-twitter"></i> <span>Thoughts</span></a></li>
        <li><a href="https://github.com/evansims" class="button github" rel="me" target="_blank"><i class="fa fa-github-alt"></i> <span>Code</span></a></li>
        <li><a href="https://medium.com/@evansims" class="button medium" rel="me" target="_blank"><i class="fa fa-medium"></i> <span>Blogging</span></a></li>
        <li><a href="http://evansims.tumblr.com" class="button tumblr" rel="me" target="_blank"><i class="fa fa-tumblr"></i> <span>Sharing</span></a></li>
        <li><a href="https://instagram.com/evansims" class="button instagram" rel="me" target="_blank"><i class="fa fa-instagram"></i> <span>Photos</span></a></li>
        <li><a href="http://steamcommunity.com/id/okaria/" class="button steam" rel="me" target="_blank"><i class="fa fa-steam"></i> <span>Playing</span></a></li>
        <li><a href="http://www.twitch.tv/okaria" class="button twitch" rel="me" target="_blank"><i class="fa fa-twitch"></i> <span>Streaming</span></a></li>
      </ul>
    </div>
  </div>
</header>

<div id="content">
  <div id="copyright" class="row text-center">
    <div class="small-12">
      <p>&copy; 2000-2015 Evan Sims. <br class="show-for-small-only" /> I'm bad at <a href="mailto:evansims@gmail.com">email</a>, and <a href="https://twitter.com/evansims">tweets</a> are preferred.</p>
    </div>
  </div>
</div>
