<ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4">
  <li><a href="#"><img src="" /></a></li>
  <li><a href="#"><img src="" /></a></li>
  <li><a href="#"><img src="" /></a></li>
  <li><a href="#"><img src="" /></a></li>
  <li><a href="#"><img src="" /></a></li>
  <li><a href="#"><img src="" /></a></li>
  <li><a href="#"><img src="" /></a></li>
  <li><a href="#"><img src="" /></a></li>
</ul>
